[Unit]
Description=Games container

[Container]
Image=docker.io/lauritsk/games:latest
AutoUpdate=registry
ContainerName=games
PublishPort=127.0.0.1:3000:3000/tcp

[Service]
Restart=always

[Install]
WantedBy=multi-user.target
